.grow {
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.grow:hover {
  transform: scale(1.05);
}

/* ------------------- Base mediaQueries and widths ------------------- */


.maxWidth {
  max-width: 380px;
  margin:0 auto;
}


/* Small devices (tablets, 768px and up) */
@media (min-width:768px) { 
  .maxWidth {
    max-width: 100%;
    margin: 0 auto;
  }
  
}
/* Small devices (tablets, up to 768px) */
@media (max-width:768px) {
}
/* Medium devices (desktops, between 992px and 768px) */
@media (min-width: 768px) and (max-width: 992px) {  

}
/* Medium devices (desktops, up to 992px) */
@media (max-width: 992px) {
  #infoButton:not(.collapsed) {
    display: none;
  }

}
/*  Medium devices (desktops, 992px and up)  */
@media (min-width: 992px) {  
  #mainContainer {
    background-image: url(./images/mood.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: 917px;
  }

  #offer .card-header {
    background-color: #31343C;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1104px) {
  .maxWidth {
    max-width:1104px;
  }
}