@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

// Override default variables before the import
$body-bg: #31343C;
$primary: #ff7321;
$font-family-sans-serif: 'Fira Sans', sans-serif;
// $grid-gutter-width: 0;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
